<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <title>Конвертер валют</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
  <input type="submit" value="Выйти из аккаунта" class="btn btn-outline-danger"/>
</form>

<form th:action="@{/history}" method="get">
  <input type="submit" value="История конвертаций" class="btn btn-outline-info"/>
</form>


<h1>Конвертер валют</h1>

<div class="notification" th:text="${notification}"/></div>

<form class="exchange__form1" th:action="@{/}" method="get">
  <select class="select1" th:name="sourceCurrency">
    <option th:each="item : ${currencyNameList}"
              th:text="${item}"
              th:value="${item}"
              th:selected="${item}==${sourceCurrency}"></option>
  </select>
  <select class="select2" th:name="targetCurrency">
    <option th:each="item : ${currencyNameList}"
            th:text="${item}"
            th:value="${item}"
            th:selected="${item}==${targetCurrency}"></option>
  </select>
  <input class="input1" type="number"
         th:name="sourceAmount"
         th:value="${sourceAmount}"
         placeholder="Введите сумму конвертации от 0 до 99 999 999 999"
         min="0"
         max="99999999999" required/>
  <input class="input2"
         type="text"
         th:value="${targetAmount}"
         disabled>
  <input class="submit1 btn btn-warning" type="submit" value="Конвертировать">
</form>

</body>
</html>